<% let classes = ""; %>
<% for(let i = 0; i < message[0].classes.length; i++) { %>
    <% classes = classes.concat(" ", message[0].classes[i]); %>
<% } %>
<div class="has-text-centered notification <%- classes %>">
    <%- message[0].text %>
</div>