<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("partials/headings") %>
    <title>Employee Homepage</title>
</head>
<body>
    <div>
        <%- include("partials/navbar") %>
        <div class="container column has-text-centered">
            <br>
            <br><br>
            <%- include("partials/messages", { message: message} ) %>
            <div class="column-is-half">
                <form action="/edit-package" method="POST">
                    <nav>Package Lookup</nav>
                    <div class="container column is-half">
                        <div class="field has-addons control has-icons-left has-addons-centered">
                            <p class="control is-expanded">
                                <input
                                    required
                                    name="id"
                                    type="text"
                                    class="input is-primary is-mobile"
                                    placeholder="Tracking ID"
                                />
                                <span class="icon is-left">
                                    <i class="fas fa-search"></i>
                                </span>
                            </p>
                            <p class="control"><button class="button is-mobile">Find</button></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>