<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0-0/axios.js"></script>
    <title>Employee Homepage</title>
</head>
<body>
    <div>
        <div>
            <nav><a href="/logout">Logout</a></nav>
        </div>
        <div>
            <br>
            <a href="/api/all">List all packages</a>
            <br><br>
            <form action="" method="GET">
                <nav>Package Lookup</nav>
                <input type="text" />
                <button>Find</button>
            </form>
        </div>
    </div>
</body>
</html>