<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Box Shipping Company</title>
</head>
<body>
    <div>
        <nav>
            <a href="/login">Login</a>
            <a href="/track">Track a package</a>
        </nav>
    </div>
    <div>
        <section class="hero">
            <div class="hero-body has-text-centered">
                <img src = "/images/image.png" width = "100" height = "80"/>
                <p class="title">
                    Box Shipping Company
                </p>
            </div>
        </section>
        <div class="container column is-three-fifths is-mobile">
            <span class="container column has-text-centered">
                <h1><strong>About Us</strong></h1>
            </span>
            <hr />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur ducimus et facilis id
                itaque necessitatibus quia quidem, repellendus tenetur? Dicta dignissimos eligendi esse excepturi natus
                odit pariatur quam sunt.
            </p>
        </div>
    </div>
</body>
<footer>
</footer>
</html>
