<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
<div>
    <div>
        <nav>
            <a href="/login">Login</a>
            <a href="/track">Track a package</a>
        </nav>
        <div>
            <h1>Login</h1>
            <form action="" method="post">
                <label for="">Username</label>
                <input  type="text" value="" name="username">
                <label for="password">Password</label>
                <input type="password" name="password" value="">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>